<form action="/calculate" method="POST">
	<input type="text" name="new_number" />
	<input type="submit" name="calculate_button" value="add" />
	<input type="submit" name="calculate_button" value="subtract" />
	<input type="submit" name="calculate_button" value="multiply" />
	<input type="submit" name="calculate_button" value="divide" />
</form>

<h2>Initial stored value = <%= @current_saved_number %></h2>


