<html>
    <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div>
        <%= Date.today %>
        Hello
        <% if Date.today.monday? %>
        cruel
        <% end %>
        world.
        </div>
    </body>
</html>