<form action="/target_url" method="POST">
	<input type="text" name="my_text" />
	<input type="text" name="other_text" />
	<input type="submit" value="send" />
</form>

<h1>First number = <%= @first_number %></h1>
<h1>Second number = <%= @second_number %></h1>
<h1>Operation: <%= @operation %></h1>
<h1><%= @total %></h1>


